include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include timg_promo *.css
recursive-include timg_promo *.csv
recursive-include timg_promo *.html
recursive-include timg_promo *.ico
recursive-include timg_promo *.js
recursive-include timg_promo *.json
recursive-include timg_promo *.md
recursive-include timg_promo *.png
recursive-include timg_promo *.py
recursive-include timg_promo *.svg
recursive-include timg_promo *.txt
recursive-exclude timg_promo *.pyc